@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Orelega+One&display=swap");

.body-cabinet-page > #body-bg-image {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: visible;

  background-image: url("./../images/Cabinet-bacground-picture-v2.webp");

  z-index: var(--z-index-for-background-media);
}

.body-cabinet-page .site-navbar-wrap {
  background: var(--cabinet-page-menu-background-color);
}

.body-cabinet-page header .site-navbar-wrap .site-navigation ul li a {
  color: var(--cabinet-page-nav-menu-font-color);
}

.body-cabinet-page footer {
  background: var(--cabinet-page-menu-background-color);
}

.cabinet-content {
  display: none;
  position: absolute;

  width: 94%;
  height: 90%;

  top: 5%;
  left: 5%;

  background-color: var(--cabinet-page-content-background-color);
  backdrop-filter: var(--sb-cnt-backdrop-filter-blur);
  -webkit-backdrop-filter: var(--sb-cnt-backdrop-filter-blur);

  transition: var(--transition--all--05-ease);

  z-index: 1;
}

.cabinet-content.expand-sidebar {
  width: 80%;

  top: 5%;
  left: 19%;
}

.cabinet-content > div {
  display: none;
  position: relative;

  width: 100%;
  height: 100%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  color: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content svg {
  fill: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content div .sb-cnt-title {
  display: inline-block;

  width: 100%;
  height: 20%;

  margin: 0 0 2% 0;
  padding: 0;
}

.cabinet-content div .sb-cnt-title::after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 1px;

  margin: 0 0 0 5%;

  background-color: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content div .sb-cnt-title h3 {
  padding: 2vh 0 0 6vw;
  margin: 0;

  color: var(--cabinet-page-nav-menu-font-color);

  font-family: var(--fornt-family-for-school-name);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
  font-size: 2.5em;

  line-height: 1;
}

.cabinet-content div .sb-cnt-tbl-container {
  display: inline-block;
  position: relative;

  width: 100%;
  height: auto;

  margin-bottom: 3vh;
  padding: 2vh 1vw 0 1vw;
}

.cabinet-content div .sb-cnt-tbl-container table {
  display: grid;

  table-layout: fixed;

  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  width: 100%;
  height: 100%;
}

.cabinet-content div .sb-cnt-tbl-container table .tbl-btn {
  height: 4vh;
  width: 10vw;

  margin-left: 0vw;

  background-color: var(--btn-background-color);
  color: var(--btn-color);

  cursor: pointer;

  border-radius: 3px;
  border: 2px solid transparent;

  transition: var(--transition-background-color-04-ease-in-out),
    var(--transition-color-04-ease-in-out),
    var(--transition-border-color-04-ease-in-out);
}

.cabinet-content div .sb-cnt-tbl-container table .tbl-btn:hover {
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
  background-color: var(--btn-hover-background-color);
}

.cabinet-content div .sb-cnt-tbl-container table caption {
  display: flex;
  position: relative;
  align-items: center;

  width: 100%;
  height: 5vh;

  margin-bottom: 2vh;
  padding: 0 1vw 0 1vw;

  font-size: 1.2em;

  overflow: hidden;

  background-color: var(--page-content-background-color);
  box-shadow: var(--cabinet-page-tbl-box-shadow);
}
.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-lb-checkbox {
  position: relative;
  width: 20px;
  height: 20px;

  margin: 0 0 0 1vw;
  padding: 0;
}
.cabinet-content div .sb-cnt-tbl-container table .tbl-lb-checkbox {
  display: none;
  position: relative;
  width: 20px;
  height: 20px;

  margin: 0;
  padding: 0;
}

/* Скрываем нативный чекбокс */
.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-checkbox,
.cabinet-content div .sb-cnt-tbl-container table .tbl-checkbox {
  position: absolute;

  height: 20px;
  width: 20px;

  top: 0;
  left: 0;

  opacity: 0;
  cursor: pointer;

  z-index: var(--z-index-for-modal-form);
}

/* Создаем чекбокс */
.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-checkmark,
.cabinet-content div .sb-cnt-tbl-container table .tbl-checkmark {
  position: absolute;

  height: 20px;
  width: 20px;

  top: 0;
  left: 0;

  background-color: var(--checkbox-not-active-background-color);
  border: 2px solid #dbd6d6;
  border-radius: 4px;
}

.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-checkmark.active,
.cabinet-content div .sb-cnt-tbl-container table .tbl-checkmark {
  background-color: var(--btn-background-color);
  border: 2px solid #ccc;
}

/* Изменяем цвет фона при отмеченном состоянии */
.cabinet-content
  div
  .sb-cnt-tbl-container
  table
  .tbl-gl-checkbox:checked
  ~ .tbl-gl-checkmark.active,
.cabinet-content
  div
  .sb-cnt-tbl-container
  table
  .tbl-checkbox:checked
  ~ .tbl-checkmark {
  background-color: var(--btn-background-color);
}

/* Создаем галочку */
.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-checkmark.active:after,
.cabinet-content div .sb-cnt-tbl-container table .tbl-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Показываем галочку при отмеченном состоянии */
.cabinet-content
  div
  .sb-cnt-tbl-container
  table
  .tbl-gl-checkbox:checked
  ~ .tbl-gl-checkmark.active:after,
.cabinet-content
  div
  .sb-cnt-tbl-container
  table
  .tbl-checkbox:checked
  ~ .tbl-checkmark:after {
  display: block;
}

/* Стили для галочки */
.cabinet-content div .sb-cnt-tbl-container table .tbl-gl-checkmark.active:after,
.cabinet-content div .sb-cnt-tbl-container table .tbl-checkmark:after {
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: 2px solid rgb(209, 179, 7);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.cabinet-content div .sb-cnt-tbl-container table .tbl-btn-dlt-all {
  visibility: hidden;
  opacity: 0;

  cursor: none;

  margin-left: 2vw;

  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.cabinet-content div .sb-cnt-tbl-container table #tbl-fltr-svg {
  height: 3vh;
  width: auto;

  fill: var(--cabinet-page-sidebar-content-font-color);
}

.cabinet-content div .sb-cnt-tbl-container table #tbl-fltr-svg:hover {
  fill: var(--page-text-color-hover);
}

.cabinet-content div .sb-cnt-tbl-container table caption .tbl-search-field {
  display: flex;

  flex-flow: row nowrap;
  gap: 0.5vw;

  position: relative;
  align-items: center;

  height: 4vh;
  width: 12vw;

  margin: 0 1vw 0 40vw;

  background-color: var(--btn-background-color);

  color: var(--btn-color);

  border-radius: 10px;
  border: 1px solid var(--btn-background-color);

  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-style: italic;
}

.cabinet-content
  div
  .sb-cnt-tbl-container
  table
  caption
  .tbl-search-field
  input {
  height: 95%;
  width: 82%;

  padding-left: 1vw;

  outline: none;
  border: none;

  background-color: transparent;
}

.sb-cnt-tbl-container table caption .tbl-search-field:focus-within {
  box-shadow: var(--form-element-focus-box-shadow);
  border: var(--form-element-focus-border) !important;
}

.cabinet-content div .sb-cnt-tbl-container table caption .tbl-search-field i {
  font-size: 1.4em;

  transition: var(--transition-color-04-ease-in-out);
}

.cabinet-content div .sb-cnt-tbl-container table caption select {
  height: 4vh;
}

.cabinet-content div .sb-cnt-tbl-container table thead {
  display: block;
  position: relative;

  text-transform: uppercase;

  background-color: var(--page-content-background-color);

  box-shadow: var(--cabinet-page-tbl-box-shadow);
}
.cabinet-content div .sb-cnt-tbl-container table tr {
  display: grid;
  position: relative;

  width: 100%;

  grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  text-align: center;

  margin: 0;
  padding: 0;
}

.cabinet-content div .sb-cnt-tbl-container table th {
  display: table-cell;
  position: relative;

  align-content: center;

  width: 100%;
  height: 100%;

  transition: var(--transition--color--04-ease-in-out),
    var(--transition--fill--04-ease-in-out);
}

.cabinet-content div .sb-cnt-tbl-container table th:hover,
.cabinet-content div .sb-cnt-tbl-container table th:hover * {
  color: var(--page-text-color-hover);
}

.cabinet-content div .sb-cnt-tbl-container table th a {
  color: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content div .sb-cnt-tbl-container table th a:hover {
  color: var(--page-text-color-hover);
}
.cabinet-content div .sb-cnt-tbl-container table th span {
  padding: 0 0 0 0.3vw;
}
.cabinet-content div .sb-cnt-tbl-container table th span.rotate {
  transform: translateX(40%) rotate(-180deg);
}

.cabinet-content div table tbody {
  width: 100%;
  min-height: 5vh;
  max-height: 100%;

  font-size: 1.2em;
  font-weight: 400;

  background-color: var(--page-content-background-color);

  box-shadow: var(--cabinet-page-tbl-box-shadow);

  overflow-y: auto;
  overflow-x: auto;
}

.cabinet-content div table tbody tr {
  position: relative;

  width: 100%;

  border-bottom: var(--cabinet-page-tbl-row-border);

  transition: var(--transition-background-color--04-ease-in-out);
}

.cabinet-content div table tbody tr td:first-child {
  grid-column: 1;
  position: absolute;

  height: 100%;
  width: auto;

  align-content: center;

  top: 0;
  left: 2.2%;
  z-index: var(--z-index-for-content);
}

tbody tr:nth-child(even) {
  background-color: var(--tbl-unparied-row-background-color);
}

.cabinet-content div table tbody tr:first-child {
  border-top: var(--cabinet-page-tbl-header-border);
}

.cabinet-content div table tbody tr:last-child {
  border-bottom: none;
}

.cabinet-content div table tbody tr:hover,
.cabinet-content div table tbody tr:focus {
  background-color: var(--cabinet-page-tbl-row-hover-background-color);
}

.cabinet-content div table tbody tr:target,
.cabinet-content div table tbody tr:target {
  background-color: var(--cabinet-page-tbl-row-hover-background-color);
}

.cabinet-content div table td {
  display: table-cell;
  position: relative;

  align-content: center;

  width: 100%;
  min-height: 5vh;

  transition: var(--transition-color-04-ease-in-out);
}
.cabinet-content div table .text-area {
  text-align: left;
  text-indent: 1vw;
}

.cabinet-content div table td svg {
  width: auto;
  height: 2vh;

  padding-right: 0.5vw;

  fill: var(--cabinet-page-nav-menu-font-color);

  cursor: pointer;

  transition: var(--transition-fill-02-ease-in-out);
}

.cabinet-content div table td .tbl-open-rec-icon {
  width: auto;
  height: 2.5vh;
}

.cabinet-content div table td .tbl-open-rec-icon-element {
  fill: var(--cabinet-page-nav-menu-font-color);

  transition: var(--transition-fill-02-ease-in-out);
}

.cabinet-content div svg:hover,
.cabinet-content div svg:hover .tbl-open-rec-icon-element {
  fill: var(--page-text-color-hover);
}

/* Форма редактирования информации про Волю */

html body .edit-modal-container {
  display: none;
  position: fixed;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--modal-form-out-background-color);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-dialog {
  position: relative;

  border-radius: 5px;

  margin: 0 auto;

  width: 50vw;
  min-height: 35vh;
  max-height: 70vh;

  overflow-y: auto;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  background-color: var(--cabinet-page-menu-background-color);

  backdrop-filter: var(--backdrop-filter-blur);
  -webkit-backdrop-filter: var(--backdrop-filter-blur);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-content {
  position: absolute;

  width: 100%;
  height: 100%;
}

html body .edit-modal-container .edit-modal-header {
  width: 100%;
  height: 20%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  text-align: center;

  margin-bottom: 1vh;
}

html body .edit-modal-container .edit-modal-title {
  padding-top: 2vw;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
}

html body .edit-modal-container .edit-modal-close-icon {
  position: absolute;
  top: 5%;
  right: 2%;

  width: 1.5vw;
  height: 1.5vh;

  fill: var(--cabinet-page-sb-cnt-font-color);
}

html body .edit-modal-container .edit-modal-close-icon:hover {
  fill: var(--page-text-color-hover);
}

html body .edit-modal-container .edit-modal-body {
  display: var(--tab-display);
  grid-template-columns: 90%;
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  row-gap: 2vh;

  margin-left: 5%;

  align-content: center;
  justify-content: left;

  padding-top: 0;
}

html body .edit-modal-container .edit-modal-body .input-field {
  display: grid;

  grid-template-columns: 20% 70%;

  align-items: center;
  justify-content: left;

  column-gap: 10%;
}

html body .edit-modal-container .edit-modal-body input + label {
  text-align: left;
}

html body .edit-modal-container .edit-modal-body textarea {
  min-height: 4vh;
  max-height: 18vh;
}

html body .edit-modal-container .edit-modal-footer {
  position: fixed;

  width: 100%;
  height: 5vh;

  bottom: 1vh;

  text-align: center;
  justify-items: center;
}

html body .edit-modal-container .edit-modal-save-btn {
  height: 4vh;
  width: 10vw;

  background-color: var(--btn-background-color);
  color: var(--btn-color);

  border: none;

  cursor: pointer;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: var(--transition--all--04-ease-in-out);
}

html body .edit-modal-container .edit-modal-save-btn:hover {
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-border-color);
  background: var(--btn-hover-background-color);
}
/* ---------------------------------------------------------- */
