@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Orelega+One&display=swap");

.body-cabinet-page > #body-bg-image {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: visible;

  background-image: url("./../images/Cabinet-bacground-picture-v2.webp");

  z-index: var(--z-index-for-background-media);
}

.body-cabinet-page .site-navbar-wrap {
  background: var(--cabinet-page-menu-background-color);
}

.body-cabinet-page header .site-navbar-wrap .site-navigation ul li a {
  color: var(--cabinet-page-nav-menu-font-color);
}

.body-cabinet-page footer {
  background: var(--cabinet-page-menu-background-color);
}

.cabinet-content {
  display: none;
  position: absolute;

  width: 94%;
  height: 90%;

  top: 5%;
  left: 5%;

  background-color: var(--cabinet-page-content-background-color);
  backdrop-filter: var(--sb-cnt-backdrop-filter-blur);
  -webkit-backdrop-filter: var(--sb-cnt-backdrop-filter-blur);

  transition: var(--transition--all--05-ease);

  z-index: 1;
}

.cabinet-content.expand-sidebar {
  width: 80%;

  top: 5%;
  left: 19%;
}

.cabinet-content > div {
  display: none;
  position: relative;

  width: 100%;
  height: 100%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  color: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content svg {
  fill: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content div .sidebar-content-title {
  display: inline-block;

  width: 100%;
  height: 20%;

  margin: 0 0 2% 0;
  padding: 0;
}

.cabinet-content div .sidebar-content-title::after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 1px;

  margin: 0 0 0 5%;

  background-color: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content div .sidebar-content-title h3 {
  padding: 2vh 0 0 6vw;
  margin: 0;

  color: var(--cabinet-page-nav-menu-font-color);

  font-family: var(--fornt-family-for-school-name);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
  font-size: 2.5em;

  line-height: 1;
}

.cabinet-content div .sidebar-content-tbl {
  display: inline-block;
  position: relative;

  width: 100%;
  height: 65%;

  padding: 2vh 0.5vw 0 0.5vw;
}

.cabinet-content div .sidebar-content-tbl table {
  display: grid;

  table-layout: fixed;

  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));
}
.cabinet-content div .sidebar-content-tbl table thead {
  display: block;

  text-transform: uppercase;

  border-top: var(--tbl-border);
  border-left: var(--tbl-border);
  border-right: var(--tbl-border);
}
.cabinet-content div .sidebar-content-tbl table tr {
  display: grid;
  position: relative;

  grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  text-align: center;

  margin: 0;
  padding: 0;
}

.cabinet-content div .sidebar-content-tbl table th {
  display: table-cell;
  position: relative;

  align-content: center;

  width: 100%;
  height: 100%;
}
.cabinet-content div .sidebar-content-tbl table th a {
  color: var(--cabinet-page-nav-menu-font-color);
}
.cabinet-content div .sidebar-content-tbl table th a:hover {
  color: var(--page-text-color-hover);
}
.cabinet-content div .sidebar-content-tbl table th span {
  padding: 0 0 0 0.3vw;
}
.cabinet-content div .sidebar-content-tbl table th span.rotate {
  transform: translateX(40%) rotate(-180deg);
}
.cabinet-content div .sidebar-content-tbl-body {
  display: grid;
  position: relative;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  min-height: 5vh;
  max-width: 100%;
  max-height: 100%;

  font-size: 1.2em;
  font-weight: 300;

  overflow-y: auto;

  border: var(--tbl-border);
}

.cabinet-content div .sidebar-content-tbl-body table {
  width: 100%;
  height: 100%;
}

.cabinet-content div .sidebar-content-tbl-body table tbody {
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: auto;
}

.cabinet-content div .sidebar-content-tbl-body table tbody tr {
  border-bottom: var(--tbl-border);
}
.cabinet-content div .sidebar-content-tbl-body table tbody tr:last-child {
  border-bottom: none;
}

.cabinet-content div .sidebar-content-tbl-body table td {
  display: table-cell;
  position: relative;

  align-content: center;

  width: 100%;
  min-height: 5vh;
}
.cabinet-content div .sidebar-content-tbl-body table .will-comment {
  text-align: left;
  text-indent: 1vw;
}

.cabinet-content div .sidebar-content-tbl-body table td svg {
  width: 2vw;
  height: 2vh;
}

.cabinet-content div .sidebar-content-tbl-body svg:hover {
  fill: var(--page-text-color-hover);
}

/* Форма редактирования информации про Волю */

.will-edit-information {
  display: none;
  position: fixed;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(10, 10, 10, 0.5);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-dialog {
  position: relative;

  border-radius: 5px;

  margin: 0 auto;

  width: 50vw;
  min-height: 35vh;
  max-height: 70vh;

  overflow-y: auto;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  background-color: var(--page-content-background-color);

  backdrop-filter: var(--backdrop-filter-blur);
  -webkit-backdrop-filter: var(--backdrop-filter-blur);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-content {
  position: absolute;

  width: 100%;
  height: 100%;
}

html body .edit-modal-container .edit-modal-header {
  width: 100%;
  height: 20%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  text-align: center;

  margin-bottom: 1vh;
}

html body .edit-modal-container .edit-modal-title {
  padding-top: 2vw;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
}

html body .edit-modal-container .edit-information-close-icon {
  position: absolute;
  top: 5%;
  right: 2%;

  width: 1.5vw;
  height: 1.5vh;

  fill: var(--cabinet-page-sb-cnt-font-color);
}

html body .edit-modal-container .edit-information-close-icon:hover {
  fill: var(--page-text-color-hover);
}

html body .edit-modal-container .edit-modal-body {
  display: var(--tab-display);
  grid-template-columns: 90%;
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  row-gap: 2vh;

  margin-left: 5%;

  align-content: center;
  justify-content: left;

  padding-top: 0;
}

html body .edit-modal-container .edit-modal-body .input-field {
  display: grid;

  grid-template-columns: 20% 70%;

  align-items: center;
  justify-content: left;

  column-gap: 10%;
}

html body .edit-modal-container .edit-modal-body input + label {
  text-align: left;
}

html body .edit-modal-container .edit-modal-body textarea {
  min-height: 4vh;
  max-height: 18vh;
}

html body .edit-modal-container .edit-modal-footer {
  position: fixed;

  width: 100%;
  height: 5vh;

  bottom: 1vh;

  text-align: center;
  justify-items: center;
}

html body .edit-modal-container .edit-save-btn {
  height: 4vh;
  width: 10vw;

  background: #fff;
  color: #000;

  border: none;

  cursor: pointer;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

html body .edit-modal-container .edit-save-btn:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
/* ---------------------------------------------------------- */
