@import url("style.css");

/* NavBar */
header .site-navbar-wrap a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
header .site-navbar-wrap a,
header .site-navbar-wrap a:hover {
  text-decoration: none !important;
}

.al-vadud {
  width: 60%;
  height: 60%;

  fill: red;

  -webkit-transition: var(--transition--all--04-ease);
  -o-transition: var(--transition--all--04-ease);
  transition: var(--transition--all--04-ease);
}

header .site-navbar-wrap {
  position: absolute;

  top: 0;
  left: 0;

  font-family: var(--fornt-family-for-school-name);
  font-weight: 100;
  font-style: normal;
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.2);

  width: 100%;
  height: 100%;

  padding-top: 1vh;

  z-index: 100;
}

header .site-navbar-wrap a {
  color: #fff;
}

header .site-navbar {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.school-name {
  color: rgb(230, 98, 98);
  font-family: var(--fornt-family-for-school-name);
  font-weight: 100;
  font-size: 20px;
  transition: color 100ms ease-in-out;
}

/* Search box */
.searchToggle {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.searchToggle svg {
  position: absolute;
  width: 30px;
  height: 30px;
  fill: #4b4c4d;
  font-size: 22px;
  cursor: pointer;

  -webkit-transition: var(--transition--all--03-ease);
  -o-transition: var(--transition--all--03-ease);
  transition: var(--transition--all--03-ease);
}

.searchToggle svg:hover {
  fill: gold;
}

.searchToggle svg.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active svg.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active svg.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  display: flex;
  align-items: center;

  position: fixed;

  top: 20vh;
  right: 21vw;
  height: 6vh;
  width: 25vw;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);

  color: black;
  padding: 3px;
  border-radius: 0.5vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
  top: var(--marging-top-nav-bar-forms);
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.search-field::before {
  content: "";
  position: absolute;

  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  transform: rotate(-45deg);
  z-index: -1;
}

#input-search-field {
  height: 95%;
  width: 94%;

  margin-left: 0.1vw;
  padding: 1vh 5vw 1vh 1vw;

  outline: none;
  border: none;

  border-radius: 0.5vh;

  font-size: 20px;
  font-weight: 300;

  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.search-field i {
  padding-left: 0.2vw;
  font-size: 22px;
  cursor: pointer;
}

.bx-search:hover {
  color: gold;
}

#user {
  width: 40px;
  height: 40px;
  fill: #4b4c4d;
  transition: fill 100ms ease-in-out;
}

.link:hover #user {
  fill: gold;
}

/* User sign in form
-----------------------------------------------------------------------------------------------------------------------
*/
.sign-in-container {
  display: none;
  position: absolute;

  top: var(--marging-top-nav-bar-forms);
  right: 5%;
  padding: 30px;
  opacity: 1;
  pointer-events: auto;

  width: 400px;

  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(214, 179, 179, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(238, 226, 226, 0.1);

  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 25px;
  z-index: var(--z-index-for-forms);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}
.sign-in-form h2 {
  font-family: var(--fornt-family-for-title);
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.sign-in-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sign-in-form-cancel:hover {
  fill: gold;
}
.input-sign-in-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-sign-in-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-sign-in-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
}
.input-sign-in-field input:focus ~ label,
.input-sign-in-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

/* Block of fogetting password */
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
#remember {
  accent-color: #0e0b0b;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label span {
  margin-left: 8px;
  font-size: 0.8rem;
}
.sign-in-container p {
  font-size: 1rem;
}
.sign-in-form a {
  color: black;
  text-decoration: none !important;
  font-size: 1rem;
}
.sign-in-form a:hover,
.sign-in-form a:focus {
  text-decoration: underline;
  color: gold;
}

/* Icons of show or hide password */
#show-password,
#hide-password {
  top: 200px;
  right: 40px;
  position: absolute;
  z-index: var(--z-index-for-icons-in-form);
}
#show-password {
  display: none;
}
#hide-password {
  display: block;
}
.fa:hover {
  color: gold;
}

/* Sign in button */
.sign-in-button {
  background: #fff;
  color: #000;

  font-weight: 600;

  padding: 12px 10px;
  margin-top: 2vh;

  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.sign-in-button:hover {
  color: black;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.register {
  color: black;
  margin-top: 30px;
}

body header #user-information-container {
  display: none;
  position: fixed;

  top: var(--marging-top-nav-bar-forms);
  right: 10%;
  padding: 5vh;

  max-height: 32vh;
  width: 20vw;

  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(214, 179, 179, 0.8);

  background-color: rgba(238, 226, 226, 0.2);
  backdrop-filter: blur(10px);

  font-family: var(--fornt-family-for-content) !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 17px;

  line-height: 2.5vh;

  z-index: var(--z-index-for-forms);
}

#user-information-container .user-information-form-title {
  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}

#user-information-container .container-fluid {
  margin-top: 4vh;
}
#user-information-container .user-information-content {
  color: #000;
}
#user-information-container a {
  color: #fff;
}
#user-information-container a:hover {
  color: gold;
  text-decoration: none;
}

.user-information-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-information-form-cancel:hover {
  fill: gold;
}

/*
    Notification information
*/

.notification-count {
  position: absolute;

  top: -1vh;
  right: 5vw;

  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 500;

  background-color: gold;
  border: 3px solid gold;
  border-radius: 20px;
}

.notification-container {
  display: none;
  position: fixed;

  top: var(--marging-top-nav-bar-forms);
  right: 1%;

  width: 25vw;
  min-height: 20vh;
  max-height: 70vh;
  overflow-y: auto;

  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(214, 179, 179, 0.8);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(238, 226, 226, 0.1);

  z-index: var(--z-index-for-forms);
}

.notification-container form {
  padding: 0;
  margin: 0;
}

.notification-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.notification-form-cancel:hover {
  fill: gold;
}

.notification-container h2 {
  margin-bottom: 20px;
  font-family: "Orelega One", serif;
  font-style: normal;
  font-size: 24px;
  color: black;
}

.notification-container .notification-title {
  justify-content: left;
  font-family: "Orelega One", serif;
  font-style: normal;
  font-size: 14px;
  color: black;
}

.notification-container .notification-content {
  justify-content: left;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.notification-svg {
  width: 40px;
  height: 40px;

  fill: #4b4c4d;

  -webkit-transition: var(--transition--all--03-ease);
  -o-transition: var(--transition--all--03-ease);
  transition: var(--transition--all--03-ease);
}

/*-----------------------------------------------------------------------------------------------------------------------*/

header .site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
header .site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}
header .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
header .site-navbar .site-navigation .site-menu > li > a {
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none !important;
}
header .site-navbar .site-navigation .site-menu > li > a.active {
  color: #fff;
}
header .site-navbar .site-navigation .site-menu > li > a:hover {
  color: gold;
}
header .site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}
header .site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}
header .site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
header .site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
header .site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: var(--fornt-family-for-title);
}
header .site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top {
  position: absolute;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
header .site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  a.active {
  color: #007bff;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  .active
  > a {
  color: #fff !important;
}
header .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:first-child
  > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:last-child
  > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a {
  padding: 9px 20px;
  display: block;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: gold;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: gold;
}
header .site-navbar .site-navigation .site-menu .has-children:hover > a,
header .site-navbar .site-navigation .site-menu .has-children:focus > a,
header .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}
header .site-navbar .site-navigation .site-menu .has-children:hover,
header .site-navbar .site-navigation .site-menu .has-children:focus,
header .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
header .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
header .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
header
  .site-navbar
  .site-navigation
  .site-menu
  .has-children:active
  > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}
/* End of navbar configuration
-----------------------------------------------------------------------------------------------------------------------
*/
