@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Orelega+One&display=swap");

body main .sidebar {
  position: fixed;

  width: 4vw;
  height: var(--main-heigth);

  overflow-y: auto;
  overflow-x: hidden;

  left: 0;

  background: var(--page-content-background-colors);
  backdrop-filter: var(--backdrop-filter-blur);
  -webkit-backdrop-filter: var(--backdrop-filter-blur);

  font-family: var(--fornt-family-for-content);
  font-size: 1.4em;
  font-weight: 300;
  font-optical-sizing: auto;

  transition: var(--transition--all--04-ease);

  z-index: var(--z-index-for-forms);
}

body main .sidebar.expand {
  left: 0;
  width: 18vw;
}

body main > .btn {
  position: absolute;

  top: 1vh;
  left: 5.5vh;
  height: 2vh;
  width: 2vw;

  text-align: center;

  cursor: pointer;
  transition: var(--transition--all--05-ease);
  z-index: var(--z-index-for-icons-in-form);
}
body main > .btn.click {
  left: 17.2vw;
}

body main > .btn span {
  color: var(--cabinet-page-menu-background-color);
  font-size: 1.5em;
}

body main > .btn .fa-circle-arrow-right {
  display: block;
}
body main > .btn .fa-circle-arrow-right.rotate {
  transform: rotate(-180deg);
}

body main > .btn .fa-circle-arrow-left {
  display: none;
}

.sidebar > ul {
  max-height: 100%;
  width: 100%;

  padding: 7vh 0 0 0;

  list-style: none;
}
.sidebar ul > li {
  position: relative;
  line-height: 7vh;
  border-top: var(--sidebar-menu-border-top);
  padding-left: 0;
}

.sidebar ul #God {
  font-family: var(--fornt-family-for-school-name);
  font-size: 1.2em;
  font-weight: 100;
  font-style: normal;
}

.sidebar ul #God > ul {
  font-family: var(--fornt-family-for-school-name);
  font-size: 0.8em;
  font-weight: 100;
  font-style: normal;
}
.sidebar ul #God .side-bar-god-svg {
  width: 2vw;
  height: auto;

  margin-right: 1vw;

  fill: none;
  stroke: white;
  stroke-width: 3vh;
}
.sidebar ul #God.active a .side-bar-god-svg {
  stroke: var(--page-text-color-hover);
}
.sidebar ul #God a:hover .side-bar-god-svg {
  stroke: var(--page-text-color-hover);
}
.sidebar ul > li:last-child {
  border-bottom: var(--sidebar-menu-border-bottom);
}
.sidebar ul li a {
  display: block;
  position: relative;

  justify-content: center;

  width: 100%;
  margin: 0;
  padding: 0 0 0 1vw;

  color: var(--page-text-color);

  text-decoration: none;

  border-left: 3px solid transparent;
}
.sidebar ul li a p {
  display: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li svg {
  display: inline-block;
  width: 2vw;
  height: auto;

  margin-right: 1vw;

  fill: var(--page-text-color);
}
.sidebar ul > li.active > a {
  color: var(--page-text-color-hover);
  background: var(--cabinet-page-menu-background-color);
}
.sidebar ul > li.active > a svg {
  fill: var(--page-text-color-hover);
}
.sidebar ul > li.active .fas {
  color: var(--page-text-color-hover);
}
.sidebar ul > li > a:hover {
  color: var(--page-text-color-hover);
  background: var(--cabinet-page-menu-item-hover-background-color);
}
.sidebar ul > li > a:hover svg {
  fill: var(--page-text-color-hover);
}
.sidebar ul > li > a:hover + .fas {
  color: var(--page-text-color-hover);
}
.sidebar ul > li > .fa-caret-down:hover {
  color: var(--page-text-color-hover);
}
.fa-caret-down:hover ~ .serv-btn {
  color: var(--page-text-color-hover);
  background: var(--cabinet-page-menu-item-hover-background-color);
}
.sidebar ul li .serv-show {
  position: static;
  display: none;

  width: 100%;
  height: auto;

  font-family: var(--fornt-family-for-content);
  font-size: 0.9em;
  font-weight: 300;
  font-optical-sizing: auto;

  overflow-y: auto;
  overflow-x: hidden;

  list-style: none;
  background-color: none;
}
.sidebar.expand ul li .serv-show.show {
  display: block;
  position: static;

  background-color: none;
}

.sidebar ul li .serv-show.show-menu {
  display: block;
  position: absolute;

  width: 15vw;
  min-height: 7vh;
  max-height: auto;

  top: 0;
  left: 100%;

  padding: 0;
  margin: 0;

  background-color: var(--cabinet-page-menu-item-hover-background-color);

  backdrop-filter: var(--sidebar-content-backdrop-filter-blur) !important;
  -webkit-backdrop-filter: var(
    --sidebar-content-backdrop-filter-blur
  ) !important;

  z-index: var(--z-index-for-modal-form);
}
.sidebar ul ul li {
  line-height: 5vh;
}
.sidebar ul ul li a {
  padding-left: 3vw;
}
.sidebar ul li .serv-show li:not(:first-of-type):not(:only-of-type) {
  border-top: var(--sidebar-menu-border-top);
}
.sidebar ul li .serv-show li:only-of-type {
  border: none;
}
.sidebar ul .serv-show.show-menu li {
  padding-left: 0;
  margin-left: 0;

  line-height: 4vh;
}
.sidebar ul .serv-show.show-menu li:only-of-type {
  height: 7vh;

  padding: 0;
}
.sidebar ul .serv-show.show-menu li:only-of-type a {
  height: 7vh;
  padding-top: 0;
  margin-top: 0;

  align-content: center;
}
.sidebar ul .serv-show.show-menu li a {
  padding-left: 2vw;
}
.sidebar ul li .serv-show li .title {
  display: none;
}
.sidebar ul li .serv-show.show-menu li .title {
  display: block;

  padding: 2vh 0 1vh 1vw;
  margin: 0;

  font-size: 1.2em;
  font-weight: 500;

  line-height: 0.5;
}
.sidebar ul li .serv-show.show-menu li #link-God {
  font-size: 1.3em;
}
.sidebar ul li.active ul li a {
  color: var(--page-text-color);
  background-color: none;
}
.sidebar ul li.active ul li a.active {
  color: var(--page-text-color-hover);
  background: var(--cabinet-page-menu-item-hover-background-color);
}
.sidebar ul ul li a:hover {
  color: var(--page-text-color-hover) !important;
  background-color: none;
}
.sidebar ul li .fas {
  display: none;
  position: absolute;
  top: 1vh;
  right: 1vw;

  height: 6vh;
  width: 2vw;

  text-align: center;
  align-content: center;

  color: var(--page-text-color);

  font-size: 0.8em;

  cursor: pointer;

  transition: var(--transition--all--05-ease);
}
.sidebar ul li .fas.rotate {
  transform: translateY(-10%) rotate(-180deg);
}

.sidebar ul li a .fa {
  padding-right: 1vw;
  font-size: 1.3em;
}
