body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

:root {
  --page-content-background-color: rgba(255, 255, 255, 0.1);
  --cabinet-page-menu-background-color: rgba(255, 255, 255, 0.6);

  --fornt-family-for-school-name: "Lobster", sans-serif;
  --fornt-family-for-title: "Orelega One", serif;
  --fornt-family-for-content: "Jost", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-page {
  position: relative;
  min-height: 100vh;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background: url(./../images/11062b_40811fcc9cac4a5bbfb0d93aaa94d70df000.webp)
    fixed 50%;
  background-size: cover;
}

.page-video {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-video:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.page-video .video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  z-index: 2;
}

/* User sign in form
-----------------------------------------------------------------------------------------------------------------------
*/
.sign-in-container {
  display: none;
  position: absolute;

  top: 10vh;
  right: 1%;
  padding: 30px;
  opacity: 1;
  pointer-events: auto;

  width: 400px;

  border-radius: 8px;
  text-align: center;
  border: 1px solid rgba(214, 179, 179, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(238, 226, 226, 0.1);

  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 25px;
  z-index: 1;
}

.userserviceToggle.active svg.user {
  fill: gold;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
}
.sign-in-form h2 {
  font-family: var(--fornt-family-for-title);
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.sign-in-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sign-in-form-cancel:hover {
  fill: gold;
}
.input-sign-in-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-sign-in-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-sign-in-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
}
.input-sign-in-field input:focus ~ label,
.input-sign-in-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

/* Block of fogetting password */
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
#remember {
  accent-color: #0e0b0b;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label span {
  margin-left: 8px;
  font-size: 0.8rem;
}
.sign-in-container p {
  font-size: 1rem;
}
.sign-in-form a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.sign-in-form a:hover,
.sign-in-form a:focus {
  text-decoration: underline;
  color: gold;
}

/* Icons of show or hide password */
#show-password,
#hide-password {
  top: 200px;
  right: 40px;
  position: absolute;
  z-index: 99;
}
#show-password {
  display: none;
}
#hide-password {
  display: block;
}
.fa:hover {
  color: gold;
}

/* Sign in button */
.sign-in-button {
  background: #fff;
  color: #000;

  font-weight: 600;

  padding: 12px 10px;
  margin-top: 2vh;

  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.sign-in-button:hover {
  color: black;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.register {
  color: black;
  margin-top: 30px;
}

.site-navbar-wrap .site-navbar .user-information-container {
  display: none;
  position: absolute;

  top: 10vh;
  right: 10%;
  padding: 30px;
  opacity: 1;
  pointer-events: auto;

  min-height: 300px;
  max-height: 650px;
  width: 400px;

  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(214, 179, 179, 0.8);

  background-color: rgba(238, 226, 226, 0.2);
  backdrop-filter: blur(10px);

  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 20px;
  z-index: 1;
}

.user-information-container a:hover {
  color: gold;
}

.user-information-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-information-form-cancel:hover {
  fill: gold;
}

/*
    Notification information
*/
.site-navbar-wrap .site-navbar .notification-toggle {
  position: relative;
}

.site-navbar-wrap .site-navbar .notification-count {
  position: absolute;

  top: -1vh;
  right: 5vw;

  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 500;

  background-color: gold;
  border: 3px solid gold;
  border-radius: 20px;
}

.site-navbar-wrap
  .site-navbar
  .notification-toggle.active
  ~ .notification-container {
  top: 16vh;
  opacity: 1;
  pointer-events: auto;
}

.site-navbar-wrap .site-navbar .notification-container {
  position: fixed;

  top: -300%;
  right: 1%;

  width: 500px;
  min-height: 20%;
  max-height: 70%;
  overflow-y: auto;

  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(214, 179, 179, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(238, 226, 226, 0.1);

  z-index: 1;
}

.notification-container form {
  padding: 0;
  margin: 0;
}

.notification-form-cancel {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  fill: black;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.notification-form-cancel:hover {
  fill: gold;
}

.notification-container h2 {
  margin-bottom: 20px;
  font-family: "Orelega One", serif;
  font-style: normal;
  font-size: 24px;
  color: black;
}

.notification-container .notification-title {
  justify-content: left;
  font-family: "Orelega One", serif;
  font-style: normal;
  font-size: 14px;
  color: black;
}

.notification-container .notification-content {
  justify-content: left;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

.notification-svg {
  width: 40px;
  height: 40px;
  fill: #4b4c4d;
  transition: fill 100ms ease-in-out;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* User registration form
-----------------------------------------------------------------------------------------------------------------------
*/
.registration-container {
  position: absolute;
  max-width: 80%;
  width: 100%;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 30px 10% 0 10%;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;

  z-index: 0;
}
.registration-container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.registration-container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}
.registration-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100px;
  border-radius: 8px;
  background-color: gold;
}
.registration-container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  overflow: visible;
}
.registration-container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.registration-container form .fields {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 2px 5px;
}
.suggestions {
  position: absolute;
  background-color: white;
  border-radius: 5px;

  width: calc(100% / 3 - 15px);

  margin-top: 80px;

  z-index: 2;
}
.input-field label {
  font-size: 15px;
  font-weight: 500;
  color: #2e2e2e;
  margin: 0;
}
.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 10px;
  height: 42px;
  margin: 5px 0;
}
.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #9b8e8e;
}
.input-field input[type="date"]:valid,
.input-field select:valid {
  color: #0a0a0a;
}

/* Icons of show or hide password */
#sign-up-show-password,
#sign-up-hide-password {
  top: 4.2vw;
  right: 28vw;
  position: absolute;
  z-index: 99;
}
#sign-up-show-password {
  display: none;
}
#sign-up-hide-password {
  display: block;
}

.registration-container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  margin-top: 20px;

  background: #fff;

  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.registration-container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
form button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
form button i,
form .backBtn i {
  margin: 0 6px;
}
form .backBtn i {
  transform: rotate(180deg);
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button,
.backBtn {
  margin-right: 14px;
}
/*
-----------------------------------------------------------------------------------------------------------------------
*/

/* Greeding */
.greeding {
  width: 100%;
  justify-content: center;

  padding-top: 30vh;
}

.greeding h1 {
  font-family: "Orelega One", serif;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;

  color: black;

  text-align: center;
  text-indent: 20px;
}

.greeding p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;

  color: black;

  text-align: center;
}

/* Footer */
.footer-basic {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.2);
  color: #4b4c4d;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: black;
  text-align: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
}

.footer-basic .social {
  margin-top: 10px;
  text-align: center;
}

.footer-basic .social > a {
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-basic .social > a > i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.footer-basic .social > a > svg {
  fill: #4b4c4d;
  width: 30px;
  height: 30px;
  line-height: 40px;
}

.footer-basic .social > a:hover,
.footer-basic .social > a:hover > svg {
  opacity: 0.9;
  color: gold;
  fill: gold;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  color: black;
  margin-bottom: 0;
}

/* Страница - кабинет искателя */
.body-cabinet-page {
  overflow: hidden;
}
.body-cabinet-page > #body-bg-image {
  width: 100%;
  height: 100%;
  background-image: url("./../images/cabinet.jpg");
  background-size: cover;
}

.cabinet-page .site-navbar-wrap {
  background: rgba(255, 255, 255, 0.6);
}

.cabinet-page .site-navbar-wrap .site-navigation ul li a {
  color: #4b4c4d;
}

/* Footer */
.cabinet-page .content .footer-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;

  margin-top: 725px;
  margin-bottom: 0px;

  text-align: center;
  vertical-align: middle;

  background: rgba(255, 255, 255, 0.6);
}

/* Sidebar */

.side-bar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: gold;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 50px;
  padding-top: 0;
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  line-height: 80px;
}

@media (max-width: 900px) {
  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

/* Page - User Sign Up */

.user-signin-signout-container {
  position: absolute;
  margin-top: 50px;
  margin-left: 30%;
  height: 450px;
  width: 700px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.1);
}

.user-signin-signout {
  position: relative;
  width: 550px;
  height: 300px;
}

/*--------------------------------------------------*/
/* Page - Contacts */

.contacts-information-container {
  position: absolute;

  background-color: var(--page-content-background-color);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  width: 50vw;
  height: 50vh;

  align-items: center;
  justify-content: center;
  text-align: center;

  top: 25vh;
  left: 25vw;

  padding: 6vw 3vw 0 3vw;
}

.contacts-information-container h3 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 25px;
}

.contacts-information-container p {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.secondary-information {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}

.contacts-information-container a {
  color: #fff;
}

.contacts-container .contacts-information-container .school-email:hover {
  color: gold;
  text-decoration: underline gold !important;
}

.shcool-site {
  padding-top: 3vw;
}

/*--------------------------------------------------*/

/* Page - Searching Result */

.searching-result-container {
  position: relative;
}

.searching-result-content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);

  width: 80vw;
  min-height: 40vh;
  max-height: 70vh;
  overflow-y: auto;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  align-items: center;
  justify-content: center;
  text-align: center;

  top: 18vh;
  left: 10vw;

  padding: 2vh 3vw 0 3vh;
}

.searching-result-content ol {
  padding-top: 1vw;
  padding-left: 0;

  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: num; /* Задаём имя счетчика */
}

.searching-result-content li::before {
  content: counter(num) ". "; /* Выводим число */
  counter-increment: num; /* Увеличиваем значение счётчика */

  font-weight: 500;
  font-size: 1rem;
}

.searching-result-content li {
  display: grid;

  grid-template-columns: 1vw 50vw;

  text-align: left;

  padding-left: 1vw;

  padding-bottom: 1vw;
}

.searching-result-content h3 {
  font-family: var(--fornt-family-for-title);
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 25px;
}

.searching-result-content h4 {
  font-family: var(--fornt-family-for-content);
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;

  padding-top: 0;
}

.searching-result-content p {
  font-family: var(--fornt-family-for-content);
  font-weight: 300;
  font-size: 18px;

  text-align: justify;
}

.searching-result-text {
  display: grid;
  grid-template-columns: 15vw 55vw;

  text-align: left;

  padding-left: 2vw;
}

.searching-result-content li::after {
  content: "";
  display: block;

  background-color: #c4bdbd;
  width: 75vw;
  height: 0.01vh;
}

/*--------------------------------------------------*/

/* Page - User Profile */
.user-infromation-profile {
  display: flex;

  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: rgba(255, 255, 255, 0.1);

  height: 33vw;
  width: 90vw;

  top: 9vw;
  left: 5vw;
}

.user-infromation-profile-content {
  position: relative;
  display: flex;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

:root {
  --page-text-color: #8e9196;
  --page-text-color-hover: gold;

  --tab-display: grid;
  --tab-background-color: rgba(255, 255, 255, 0.1);

  --tbl-lable-font-family: "Jost", sans-serif;
  --tbl-lable-font-optical-sizing: auto;
  --tbl-lable-font-weight: 500;

  --display-none: none;
  --box-sizing: border-box;
}
*:before,
*:after,
*,
::after,
::before {
  box-sizing: border-box;
}

tab-container {
  position: absolute;
  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  display: var(--tab-display);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;

  width: 100%;
  height: 100%;
}
/*
TAB CONTROLS
Hide radios */
.page-user-profile .input-tab-toggle {
  display: none;
}
.page-user-profile .input-tab-toggle:checked + .lable-tab-toggle {
  color: var(--page-text-color-hover);
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 250ms;
}
.page-user-profile .lable-tab-toggle {
  cursor: pointer;
  transition: color 250ms;

  padding: 1em;
  margin: 0;

  border-right: solid 2px var(--page-background-color);
  background-color: var(--tab-background-color);
  text-align: center;
  transition: all 250ms;
}
.page-user-profile .lable-tab-toggle:last-of-type {
  border: none;
}
.page-user-profile .lable-tab-toggle:hover {
  color: var(--page-text-color-hover);
  background-color: rgba(255, 255, 255, 0.05);
}

tab-content {
  display: var(--tab-display);
  grid-column: 1 / -1;

  position: relative;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.page-user-profile .input-field label {
  width: 10vw;
  padding-right: 1vw;
}

.page-user-profile .input-field input:disabled,
.page-user-profile .input-field select:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
  border-radius: 0px;
  border: 0px solid rgba(255, 255, 255, 0.1);
}

.page-user-profile .input-field input,
.page-user-profile .input-field select {
  width: 10vw;
}

tab-content svg {
  padding-left: 1vw;

  position: relative;

  width: 2vw;
  height: 2vw;

  fill: black;
}

tab-content svg:hover {
  fill: gold;
}

/* Icons of show or hide password */
#profile-show-password,
#profile-hide-password {
  top: 5vw;
  right: 38vw;
  position: absolute;
  z-index: 99;
}
#profile-show-password {
  display: none;
}
#profile-hide-password {
  display: block;
}

.profile-btn-container {
  text-align: center;
}
.page-user-profile .profile-save-button {
  height: 45px;
  width: 10vw;

  margin-top: 2vw;
  margin-bottom: 2vw;

  background: #fff;
  color: #000;

  border: none;

  cursor: pointer;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.profile-save-button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.profile-save-button-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.profile-seekers-tbl {
  position: absolute;

  top: 0;

  width: 100%;
  height: 100%;
}

.profile-seekers-tbl-container {
  position: relative;
  height: 100%;
}

.profile-seekers-tbl-body {
  width: 100%;
  min-height: 30%;
  max-height: 89.5%;

  overflow-y: auto;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-seekers-tbl table {
  table-layout: fixed;
  width: 100%;

  margin-top: 0;
}

.profile-seekers-tbl thead {
  background-color: var(--tab-background-color);
  height: 2vh;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-seekers-tbl tbody {
  border: 1px solid rgba(255, 255, 255, 0.3);

  height: 1vh;
}

.profile-seekers-tbl table thead th {
  height: 2vw;
  padding: 20px 15px;

  text-align: center;

  font-weight: 500;
  font-size: 12px;

  color: #fff;

  text-transform: uppercase;
}

.profile-seekers-tbl td {
  padding: 15px;

  text-align: center;
  vertical-align: middle;

  font-weight: 300;
  font-size: 12px;
  word-wrap: break-word;

  color: #fff;

  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.profile-edit-btn {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 2vw;
  height: 2vh;

  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: none;
}

/*
Why doesn't this work!? 
input ~ tab-content {display: none;}
input:checked ~ tab-content {display: var(--tab-display);}*/

input#tabToggle01:checked ~ tab-content:not(:nth-of-type(1)),
input#tabToggle02:checked ~ tab-content:not(:nth-of-type(2)),
input#tabToggle03:checked ~ tab-content:not(:nth-of-type(3)) {
  display: none;
}

/* Profile Modal form of seekers details information */
.profile-seeker-detail-information {
  display: none;
  position: fixed;
  flex-wrap: nowrap;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100500;
}

.profile-seeker-modal-dialog {
  position: relative;

  border-radius: 3px;

  margin-top: 40%;
  margin-left: 120%;

  width: 30vw;
  height: 20vw;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  background-color: rgba(247, 253, 251, 0.3);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  z-index: 100500;
}

.profile-seeker-modal-content {
  position: absolute;

  width: 100%;
  height: 100%;
}

.profile-seeker-modal-header {
  width: 100%;
  height: 20%;

  text-align: center;

  margin-bottom: 2vh;
}

.profile-seeker-detail-information h4 {
  padding-top: 2vw;

  color: #000;
}

#profile-seeker-modal-cross-svg {
  position: absolute;
  top: 5%;
  right: 2%;

  width: 2vw;
  height: 2vh;

  fill: #fff;
}

#profile-seeker-modal-cross-svg:hover {
  fill: gold;
}

.profile-edit-seeker-modal-body {
  display: var(--tab-display);
  grid-column: 1 / -1;

  align-items: center;
  justify-content: center;

  padding-top: 2vw;
}

.profile-edit-seeker-modal-body input + label {
  text-align: left;
}

.profile-edit-seeker-modal-footer {
  text-align: center;
}
/* ---------------------------------------------------------- */
