#Директория с примерами фрагментов html страницы
examples/

#Директория с архивом фрагментов использованных на html странице
fragments/archive

#Директория с json-ами для тестового наполнения данными html страницы
storage/

TODO.txt