@use 'mixins' as mixins;
.body-cabinet-page > #body-bg-image {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: visible;

  background-image: url('./../images/Cabinet-bacground-picture-v2.png');
  background-size: cover;

  z-index: var(--z-index-for-background-media);
}

.body-cabinet-page header .site-navbar-wrap .site-navigation ul li a {
  color: var(--page-text-color);
}

.body-cabinet-page .footer-basic .social > a > svg {
  fill: var(--pictures-cabinet-page-color);
  width: 30px;
  height: 30px;
}

.body-cabinet-page .footer-basic .social > a:hover > svg {
  fill: var(--page-text-color-hover);
}

.cabinet-content {
  position: relative;
  flex-grow: 1;

  width: 86%;
  min-height: 81vh;

  visibility: hidden;
  opacity: 0;

  margin: 1vh 1vh 1vh 13%;

  background-color: var(--cabinet-page-content-background-color);
  backdrop-filter: var(--sb-cnt-backdrop-filter-blur);
  -webkit-backdrop-filter: var(--sb-cnt-backdrop-filter-blur);

  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out,
    height 0.4s ease-in-out;

  z-index: 1;
}

.cabinet-content.show {
  visibility: visible;
  opacity: 1;
}

.cabinet-content > .sb-cnt {
  display: none;
  position: relative;

  flex-direction: column;

  width: 100%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  color: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content > .sb-cnt.active {
  display: flex;
}

.cabinet-content svg {
  fill: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content div .sb-cnt-title {
  display: inline-block;

  width: 100%;
  height: 20%;

  margin: 0 0 2% 0;
  padding: 0;
}

.cabinet-content div .sb-cnt-title::after {
  content: '';
  display: inline-block;
  width: 90%;
  height: 1px;

  margin: 0 0 0 5%;

  background-color: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content div .sb-cnt-title h3 {
  padding: 2vh 0 0 6vw;
  margin: 0;

  color: var(--cabinet-page-nav-menu-font-color);

  font-family: var(--fornt-family-for-school-name);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
  font-size: 2.5em;

  line-height: 1;
}

@at-root .sb-cnt-tabs-cnt {
  @include mixins.flex(row, $gap: 0.5vw);
  align-items: center;
  justify-content: end;

  height: 5vh;
  @include mixins.sb-cnt-indention();

  .cnt-tabs {
    @include mixins.flex(row, $gap: 0.1vw);

    a {
      height: 100%;
      width: 4vw;

      text-align: center;

      color: var(--page-text-color);

      &:hover {
        color: var(--page-text-color-hover);
      }

      &.active {
        color: var(--page-text-color-hover);
        text-decoration: underline;
      }
    }
  }
}

.cabinet-content div .sb-cnt-tbl-container {
  display: none;
  position: relative;

  height: 100%;

  @include mixins.sb-cnt-indention();
}

.cabinet-content div .sb-cnt-tbl-container.active {
  display: inline-block;
}

.cabinet-content div .sb-cnt-title-container {
  display: none;

  @include mixins.sb-cnt-indention();
}

.cabinet-content div .sb-cnt-title-container.active {
  display: flex;
}

.cabinet-content div .sb-cnt-tbl-container table {
  display: flex;
  flex-direction: column;

  table-layout: fixed;
}

.cabinet-content .sb-cnt div .cnt-btn {
  height: 4vh;
  width: 10vw;

  background-color: var(--btn-background-color);
  color: var(--btn-color);

  cursor: pointer;

  border-radius: 3px;
  border: 2px solid transparent;

  @include mixins.transition-all-04-in-out(
    (color, background-color, visibility, opacity)
  );
}

.cabinet-content .sb-cnt div .cnt-btn:hover {
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
  background-color: var(--btn-hover-background-color);
}

@at-root .cabinet-content .sb-cnt div .cnt-caption {
  display: flex;
  position: relative;
  align-items: center;

  height: 5vh;

  padding: 0 1vw 0 1vw;
  margin-bottom: 2vh;

  font-size: 1.2em;

  background-color: var(--page-content-background-color);
  box-shadow: var(--cabinet-page-tbl-box-shadow);
}

@at-root .cabinet-content .sb-cnt div {
  .cnt-fltr-container {
    display: flex;

    flex-flow: row nowrap;

    align-items: center;

    height: 4vh;
    width: auto;

    margin-left: 2vw;

    cursor: pointer;

    .bx {
      color: var(--cabinet-page-sidebar-content-font-color);

      font-size: 1.2em;

      @include mixins.transition-all-04-in-out(color);
    }

    p {
      padding: 0;
      margin: 0 0 0 0.5vw;

      color: var(--cabinet-page-sidebar-content-font-color);
      @include mixins.transition-all-04-in-out(color);
    }

    &:hover p,
    &:hover .bx {
      @include mixins.fill-color-hover();
    }
  }

  .cnt-search-field {
    @include mixins.flex-center($direction: row, $gap: 0);

    position: relative;

    height: 4vh;
    width: 20vw;

    margin: 0 1vw 0 10vw;

    background-color: var(--btn-background-color);

    color: var(--btn-color);

    @include mixins.border-round($color: var(--btn-background-color));

    @include mixins.font-for-content(transparent, italic);

    &:focus-within {
      box-shadow: var(--form-element-focus-box-shadow);
      border: var(--form-element-focus-border) !important;
    }

    input {
      height: 95%;
      width: 20vw;

      margin-left: 1vw;

      outline: none;
      border: none;

      background-color: transparent;

      @include mixins.font-for-content(transparent, $font-style: italic);
    }

    i {
      padding-right: 0.5vw;
      font-size: 1.4em;
      cursor: pointer;
      @include mixins.transition-all-04-in-out(color);

      &:hover {
        color: var(--page-text-color-hover);
      }
    }

    .bx-x {
      display: none;
    }

    .bx-x.show {
      display: block;
    }

    .bx-search.hide {
      display: none;
    }

    .cnt-search-wrn {
      @include mixins.flex-center($direction: row, $gap: 0);
      position: absolute;

      visibility: hidden;
      opacity: 0;

      top: 4.5vh;
      left: 20.5vw;

      width: 10vw;

      font-size: 0.8em;
      font-weight: 400;

      padding: 0.5vh 1vw 0.5vh 1vw;

      background-color: var(--cabinet-page-content-background-color);
      @include mixins.backdrop-filter();

      @include mixins.transition-all-04-in-out(visibility);
      @include mixins.transition-all-04-in-out(opacity);

      z-index: var(--z-index-for-icons-in-form);

      i {
        color: rgb(223, 81, 15);

        margin-right: 0.5vw;
      }

      p {
        line-height: 1.2;
        text-align: center;

        margin: 0;
        padding: 0;
      }
    }

    .cnt-search-wrn.active {
      visibility: visible;
      opacity: 1;
    }

    .cnt-search-result {
      position: absolute;
      @include mixins.flex-center($direction: row, $gap: 1vw);

      top: 5vh;
      left: 0;

      width: 20vw;
      height: 4vh;

      visibility: hidden;
      opacity: 0;

      font-size: 0.8em;

      background-color: var(--cabinet-page-content-background-color);
      @include mixins.backdrop-filter();

      z-index: var(--z-index-for-icons-in-form);
    }

    .cnt-search-result.active {
      visibility: visible;
      opacity: 1;
    }

    .cnt-search-result-item:nth-last-child(2) {
      margin-left: auto;
    }

    p {
      width: auto;
      text-align: center;

      font-style: normal;

      margin: 0;
      padding: 0 0 0 0.5vw;

      line-height: 1em;
    }

    .cnt-search-result-number {
      padding: 0;
      text-align: right;
    }

    .cnt-search-result-cevrons {
      @include mixins.flex-center();

      visibility: hidden;
      opacity: 0;

      margin: 0;
      padding: 0;

      .bx {
        padding-top: 0.5vh;
        font-size: 1.8em;
        line-height: 1;

        justify-self: center;

        cursor: none;
        color: var(--form-element-active-color);

        &:hover {
          color: var(--page-text-color-hover);
        }
      }

      &.active .bx {
        cursor: pointer;
      }
    }

    .cnt-search-result-cevrons.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .cnt-btn-add {
    margin-left: 4vw;

    @include mixins.font-for-content(0.8em, 500);
  }

  select {
    height: 4vh;

    @include mixins.font-for-content(0.8em);
  }

  .cnt-btn-search {
    width: 5vw;

    margin-left: 1vw;

    @include mixins.font-for-content(0.8em, 500);
  }

  .cnt-gl-lb-checkbox {
    position: relative;
    width: 20px;
    height: 20px;

    margin: 0 0 0 2.5vw;
    padding: 0;
  }

  .cnt-gl-checkbox {
    @include mixins.tblCheckboxesPosition();
  }

  .cnt-lb-checkbox {
    display: block;
    visibility: hidden;
    opacity: 0;

    position: relative;
    width: 20px;
    height: 20px;

    margin: 0;
    padding: 0;

    cursor: none;
  }

  .cnt-lb-checkbox.active {
    visibility: visible;
    opacity: 1;

    cursor: pointer;
  }

  .cnt-checkbox {
    @include mixins.tblCheckboxesPosition();
    border: 2px solid #dbd6d6;
    border-radius: 4px;
    background-color: var(--checkbox-not-active-background-color);
  }

  .cnt-gl-checkmark {
    @include mixins.tblCheckmarkPosition();
    border: 2px solid #dbd6d6;
    border-radius: 4px;
    background-color: var(--checkbox-not-active-background-color);
  }

  .cnt-gl-checkmark.active {
    @include mixins.tblCheckmarkPosition();
    border: 2px solid #ccc;
    background-color: var(--btn-background-color);
  }

  .cnt-gl-checkmark.active::after {
    content: '';
    position: absolute;
    display: none;

    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: 2px solid rgb(209, 179, 7);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .cnt-gl-checkbox:checked + .cnt-gl-checkmark.active::after {
    display: block;
  }

  .cnt-checkmark {
    @include mixins.tblCheckmarkPosition();
    border: 2px solid #ccc;
    background-color: var(--btn-background-color);
  }

  .cnt-checkmark::after {
    content: '';
    position: absolute;
    display: none;

    top: 2px;
    left: 5px;
    width: 5px;
    height: 10px;
    border: 2px solid rgb(209, 179, 7);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .cnt-checkbox:checked + .cnt-checkmark::after {
    display: block;
  }

  .cnt-btn-dlt-all {
    visibility: hidden;
    opacity: 0;

    cursor: none;

    margin-left: 2vw;

    @include mixins.font-for-content(0.8em, 500);
  }

  .cnt-btn-dlt-all.active {
    visibility: visible;
    opacity: 1;

    cursor: pointer;
  }
}

.cabinet-content div div .highlight {
  background-color: #ffeb3b;
  border: none;
}

.cabinet-content div div .highlight.active {
  background-color: #fc6908;
  border: 3px solid #fc6908;
}

.cabinet-content div .sb-cnt-tbl-container table thead {
  display: block;
  position: relative;

  text-transform: uppercase;

  margin: 0;
  padding: 0;

  height: 5vh;

  background-color: var(--page-content-background-color);

  box-shadow: var(--cabinet-page-tbl-box-shadow);
}

.cabinet-content div .sb-cnt-tbl-container table tr {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;

  text-align: center;

  margin: 0;
  padding: 0;
}

.cabinet-content div .sb-cnt-tbl-container table tr th {
  flex: 1;
  text-align: center;
  align-content: center;
}

.cabinet-content div .sb-cnt-tbl-container table tr td {
  flex: 1;
  text-align: center;
}

/* Последняя ячейка фиксированной ширины */
.cabinet-content div .sb-cnt-tbl-container table tr td:last-child,
.cabinet-content div .sb-cnt-tbl-container table tr th:last-child {
  flex: 0 0 50px;
  max-width: 50px;
  min-width: 50px;

  align-items: center;
  justify-items: center;
}

.cabinet-content div .sb-cnt-tbl-container table th:hover,
.cabinet-content div .sb-cnt-tbl-container table th:hover * {
  color: var(--page-text-color-hover);
}

.cabinet-content div .sb-cnt-tbl-container table th a {
  color: var(--cabinet-page-nav-menu-font-color);
}

.cabinet-content div .sb-cnt-tbl-container table th a:hover {
  color: var(--page-text-color-hover);
}

.cabinet-content div .sb-cnt-tbl-container table th span {
  padding: 0 0 0 0.3vw;
}

.cabinet-content div .sb-cnt-tbl-container table th span.rotate {
  transform: translateX(40%) rotate(-180deg);
}

.cabinet-content div table tbody {
  width: 100%;
  min-height: 5vh;
  max-height: auto;

  font-size: 1.2em;
  font-weight: 400;

  background-color: var(--page-content-background-color);

  box-shadow: var(--cabinet-page-tbl-box-shadow);

  overflow-y: auto;
  overflow-x: auto;
}

.cabinet-content div table tbody tr {
  position: relative;

  width: 100%;

  border-bottom: var(--cabinet-page-tbl-row-border);

  transition: var(--transition-background-color--04-ease-in-out);
}

tbody tr:nth-child(even) {
  background-color: var(--tbl-unparied-row-background-color);
}

.cabinet-content div table tbody tr:first-child {
  border-top: var(--cabinet-page-tbl-header-border);
}

.cabinet-content div table tbody tr:last-child {
  border-bottom: none;
}

.cabinet-content div table tbody tr:hover,
.cabinet-content div table tbody tr:focus,
.cabinet-content div table tbody tr:target {
  background-color: var(--cabinet-page-tbl-row-hover-background-color);
}

.cabinet-content div table tbody tr.selected {
  background-color: var(--cabinet-page-tbl-row-hover-background-color);
  @include mixins.border-round(1px, $color: var(--page-text-color-hover));
}

.cabinet-content div table td {
  display: table-cell;
  position: relative;

  align-content: center;

  width: 100%;
  min-height: 5vh;

  transition: var(--transition-color-04-ease-in-out);
}

.cabinet-content div table .text-area {
  text-align: left;
  text-indent: 1vw;
}

.cabinet-content .sb-cnt .bx {
  font-size: 1.2em;
  color: var(--default-icon-color);

  cursor: pointer;

  @include mixins.transition-all-04-in-out(color);
}

.cabinet-content .sb-cnt .bx.active {
  color: var(--page-text-color-hover);
}

.cabinet-content .sb-cnt .bx.active:hover {
  color: var(--default-icon-color);
}

.cabinet-content .sb-cnt .bx:hover {
  color: var(--page-text-color-hover);
}

.cabinet-content .sb-cnt .cnt-open-rec-icon {
  width: auto;
  height: 2.5vh;
}

.cabinet-content .sb-cnt .cnt-edit-icon {
  color: var(--edit-icon-color);
}

.cabinet-content .sb-cnt .cnt-dlt-icon {
  color: var(--dlt-icon-color);
}

@at-root .cabinet-content .sb-cnt div {
  .cnt-footer-container {
    @include mixins.flex(row);
    position: relative;

    visibility: hidden;
    opacity: 0;

    width: 100%;
    height: 5vh;

    @include mixins.box-shadow-tbl-el();

    margin: 2vh 0 0 0;
    padding: 1vh 0 1vh 0;

    @include mixins.font-for-content(1em);

    background-color: var(--page-content-background-color);

    @include mixins.transition-all-04-in-out(opacity);
    @include mixins.transition-all-04-in-out(visibility);

    .cnt-offset {
      @include mixins.flex(row);
      position: relative;

      height: 100%;
      width: 15vw;

      margin: 0 0 0 5vw;
      padding: 0;

      align-items: center;
      justify-content: left;

      label {
        width: auto;
        height: 90%;

        padding: 0;
        margin: 0;
      }

      .custom-select {
        @include mixins.flex(row);
        position: relative;
        width: auto;
        height: 90%;

        justify-content: center;
        align-items: center;

        margin: 0 0 0 1vw;
        padding: 0;

        background-color: var(--page-content-background-color);
        @include mixins.border-round();

        .bx-chevron-down {
          color: var(--page-text-color);

          font-size: 1.2em;
        }

        .selected {
          width: 100%;
          padding: 0 0.5vw 0 0.5vw;

          color: var(--page-text-color);
          cursor: pointer;

          text-align: center;
        }

        .options {
          display: none;
          position: absolute;

          top: 2.5vh;

          width: 100%;

          color: var(--page-text-color);
          background-color: rgba(206, 191, 191, 0.8);

          @include mixins.border-round();

          list-style: none;

          padding: 0;
          margin: 0;

          border-radius: 10px;

          li {
            padding: 0;
            cursor: pointer;
            text-align: center;

            &:hover {
              color: var(--page-text-color-hover);
              background-color: var(
                --cabinet-page-menu-item-hover-background-color
              );
            }
          }

          a {
            color: inherit;
          }
        }

        &:hover .options {
          display: block;
        }
      }
    }

    .cnt-pagination {
      @include mixins.flex(row);
      gap: 1vw;

      list-style: none;

      margin: 0 0 0 18vw;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        justify-content: center;
        align-content: center;

        a {
          color: inherit;
          text-align: center;

          line-height: 1;

          margin: 0;
          padding: 0;
        }

        a:hover {
          color: var(--page-text-color-hover);
        }
      }

      .cnt-pagination-chevrons {
        @include mixins.flex(row);

        margin: 0;
        padding: 0;
      }

      i {
        margin: 0;
        padding: 0;

        text-align: center;
        align-content: center;

        cursor: pointer;

        font-size: 1.5em;
      }

      i:hover {
        color: var(--page-text-color-hover);
      }
    }

    .cnt-current-row {
      margin: 0 0 0 14vw;

      justify-content: center;
      align-content: center;
    }

    .cnt-total-rows {
      margin: 0 0 0 4vw;

      justify-content: center;
      align-content: center;
    }
  }

  .cnt-footer-container.active {
    visibility: visible;
    opacity: 1;
  }
}

//Формат отображения контента - Плитка
@at-root .sb-cnt-title-container {
  @include mixins.flex(row, wrap, 1vw);

  justify-content: left;

  @include mixins.sb-cnt-indention();

  .favicon {
    position: absolute;

    top: 2vh;
    right: 1vw;

    z-index: var(--z-index-for-icons-in-form);
  }

  .sb-cnt-title-container-item {
    @include mixins.flex(column, $gap: 3vh);
    justify-content: flex-start;

    flex: 1 1 auto;
    min-width: 32.5%;
    max-width: 32.5%;

    position: relative;

    height: 40vh;

    background-color: var(--page-content-background-color);

    margin: 0;
    padding: 2vh 1vw 3vh 1vw;

    cursor: pointer;

    @include mixins.box-shadow-tbl-el();

    &:hover {
      background-color: var(--cabinet-page-tbl-row-hover-background-color);
    }

    &.selected {
      background-color: var(--cabinet-page-tbl-row-hover-background-color);
      @include mixins.border-round(1px, var(--page-text-color-hover));
    }

    .title-lb-checkbox {
      position: absolute;

      top: 0;
      left: 0;
    }

    & > div:nth-last-child(2) {
      max-height: 15vh;

      overflow: hidden;
    }

    .actions {
      @include mixins.flex(row, $gap: 0.3vw);
      position: absolute;

      bottom: 1vh;
      left: 1vw;
    }
  }

  .sb-cnt-title-container-el {
    @include mixins.flex(row, $gap: 1vw);
    justify-content: flex-start;
    align-items: start;

    width: 100%;

    h4 {
      min-width: 8vw;
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;

      line-height: 1.2;
    }

    .brief-description {
      font-size: 1.2em;
    }
  }
}

/* Форма редактирования информации про Волю */

html body .edit-modal-container {
  display: none;
  position: fixed;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-content: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--modal-form-out-background-color);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-dialog {
  position: relative;

  border-radius: 5px;

  margin: 0 auto;

  width: 50vw;
  min-height: 40vh;
  max-height: 100vh;

  overflow-y: auto;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  background-color: var(--cabinet-page-menu-background-color);

  backdrop-filter: var(--backdrop-filter-blur);
  -webkit-backdrop-filter: var(--backdrop-filter-blur);

  z-index: var(--z-index-for-modal-form);
}

html body .edit-modal-container .edit-modal-content {
  position: absolute;

  width: 100%;
  height: 100%;
}

html body .edit-modal-container .edit-modal-header {
  width: 100%;
  height: 20%;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);

  text-align: center;

  margin-bottom: 1vh;
}

html body .edit-modal-container .edit-modal-title {
  padding-top: 2vw;

  font-family: var(--tbl-lable-font-family);
  font-optical-sizing: var(--tbl-lable-font-optical-sizing);
  font-weight: var(--tbl-lable-font-weight);
}

html body .edit-modal-container .edit-modal-close-icon {
  position: absolute;
  top: 5%;
  right: 2%;

  width: 1.5vw;
  height: 1.5vh;

  cursor: pointer;

  fill: var(--cabinet-page-sb-cnt-font-color);
}

html body .edit-modal-container .edit-modal-close-icon:hover {
  fill: var(--page-text-color-hover);
}

html body .edit-modal-container .edit-modal-body {
  display: var(--tab-display);
  grid-template-columns: 90%;
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));

  row-gap: 2vh;

  margin-left: 5%;

  align-content: center;
  justify-content: left;

  margin-top: 2vh;
  padding-top: 0;
}

html body .edit-modal-container .edit-modal-body .input-field {
  display: grid;

  grid-template-columns: 20% 70%;

  align-items: center;
  justify-content: left;

  column-gap: 10%;
}

html body .edit-modal-container .edit-modal-body input + label {
  text-align: left;
}

html body .edit-modal-container .edit-modal-body textarea {
  min-height: 4vh;
  max-height: 18vh;
  min-width: 100%;
  max-width: 100%;
}

html body .edit-modal-container .edit-modal-footer {
  position: fixed;

  width: 100%;
  height: 5vh;

  bottom: 1vh;

  text-align: center;
  justify-items: center;
}

html body .edit-modal-container .edit-modal-save-btn {
  height: 4vh;
  width: 10vw;

  background-color: var(--btn-background-color);
  color: var(--btn-color);

  border: none;

  cursor: pointer;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: var(--transition--all--04-ease-in-out);
}

html body .edit-modal-container .edit-modal-save-btn:hover {
  color: var(--btn-hover-color);
  border-color: var(--btn-hover-border-color);
  background: var(--btn-hover-background-color);
}

/* ---------------------------------------------------------- */
