@use 'sass:list';

@mixin flex-center($direction: row, $wrap: nowrap, $gap: 0) {
  display: flex;
  flex-flow: $direction $wrap;
  gap: $gap;
  justify-content: center;
  align-items: center;
}

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin fill-color-hover() {
  fill: var(--page-text-color-hover) !important;
  color: var(--page-text-color-hover) !important;
}

@mixin border-round($radius: 10px, $color: var(--btn-background-color)) {
  border-radius: $radius;
  border: 1px solid $color;
}

@mixin box-shadow-tbl-el {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

@mixin font-for-content(
  $font-size: 1.2em,
  $font-weight: 400,
  $font-style: normal
) {
  font-family: var(--fornt-family-for-content) !important;
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  font-optical-sizing: auto !important;
  font-style: $font-style !important;
}

@mixin transition-all-04-in-out(
  $property: (),
  $timing-function: ease-in-out,
  $duration: 0.4s,
  $delay: 0
) {
  @if $property {
    transition-property: $property;
  } @else {
    transition-property: all;
  }
  transition-timing-function: $timing-function;
  transition-duration: $duration;

  @if $delay != 0 {
    transition-delay: $delay;
  }
}

@mixin backdrop-filter($blur: --backdrop-filter-blur) {
  backdrop-filter: $blur;
  --webkit-backdrop-filter: $blur;
}

@mixin tblCheckboxesPosition() {
  position: absolute;

  height: 20px;
  width: 20px;

  top: 0;
  left: 0;

  opacity: 0;
  cursor: pointer;

  z-index: var(--z-index-for-modal-form);
}

@mixin tblCheckmarkPosition() {
  position: absolute;

  height: 20px;
  width: 20px;

  top: 0;
  left: 0;
}
